<app-nav></app-nav>
<div class="container mt-2 p-5">
    <div class=" container shadow my-2 p-4">
        <div class="card-body p-4">
            <div class="mb-5">
                <h2 class="text-dark text-center text-shadow">Edit Contact</h2>
            </div>
            <form #editForm="ngForm" (ngSubmit)="onSubmitContact()">
                <div [class]="isError?'alert alert-danger d-flex align-items-center alert-dismissible fade show':'d-none'" role="alert">
                    <div>
                        {{message}}
                    </div>
                </div>
                <div [class]="isSuccess?'alert alert-success d-flex align-items-center alert-dismissible fade show':'d-none'" role="alert">
                    <div>
                        {{message}}
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="input-group form-group">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <span class="input-group-text" id="addon-wrapping"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control p-2" placeholder="Contact Name" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="contact.ContactName" name="ContactName">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="input-group form-group">
                        <label for="name" class="col-sm-2 col-form-label">Email</label>
                        <span class="input-group-text" id="addon-wrapping"><i class="fa fa-envelope"></i></span>
                        <input type="text" class="form-control p-2" placeholder="Contact Email" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="contact.ContactEmail" name="Email">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group form-group">
                        <label for="name" class="col-sm-2 col-form-label">Phone No.</label>
                        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-phone-alt"></i></span>
                        <input type="text" class="form-control p-2" placeholder="Contact Phone" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="contact.ContactPhone" name="ContactPhone">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group form-group">
                        <label for="name" class="col-sm-2 col-form-label">Relation</label>
                        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-user-edit"></i></span>
                        <select type="text" class="form-control p-2" placeholder="Contact Type" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="contact.ContactType" name="ContactType">
                            <option value="Relative">Relative</option>
                            <option value="Friend">Friend</option>
                            <option value="Work">Work</option>
                            <option value="Misc.">Misc.</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button class="btn btn-outline-dark p-2" type="submit">Update Contact</button>
                </div>
            </form>
        </div>
    </div>
</div>